@font-face {
    font-family: UbuntuBold;
    src: url('../src/assets/fonts/Ubuntu/Ubuntu-Bold.ttf');
}
@font-face {
    font-family: UbuntuLight;
    src: url('../src/assets/fonts/Ubuntu/Ubuntu-Light.ttf');
}
@font-face {
    font-family: UbuntuMedium;
    src: url('../src/assets/fonts/Ubuntu/Ubuntu-Medium.ttf');
}
@font-face {
    font-family: UbuntuRegular;
    src: url('../src/assets/fonts/Ubuntu/Ubuntu-Regular.ttf');
}

p {
    margin: 0;
}

.divPlan {
    color: black;
    width: 75%;
    height: 100%;
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.personalTitre {
    width: 100%;
    height: 22%;
    /* border: 2px solid black; */
    display: flex;
    justify-content: end;
    flex-direction: column;
}

.titreInfo {
    font-size: 35px;
    font-family: UbuntuBold;
    color: hsl(213, 96%, 18%);
}

.paraTitre {
    color: hsl(231, 11%, 63%);
    font-family: UbuntuRegular;
}

.divOptions {
    width: 100%;
    height: 55%;
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* gap: 15px; */
}

.options {
    width: 100%;
    height: 75%;
    /* border: 2px solid green; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.option {
    width: 30%;
    height: 75%;
    border: 2px solid gray;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    cursor: pointer;
    transition: .1s all ease;
}
.option:hover {
    border: 2px solid hsl(243, 100%, 62%);
}

.optionActive {
    width: 30%;
    height: 75%;
    border: 2px solid hsl(243, 100%, 62%);
    background-color: hsl(229, 24%, 87%);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    cursor: pointer;
    transition: .1s all ease;
}

.divImg {
    width: 60px;
    height: 60px;
    /* border: 2px solid salmon; */
    margin-left: 20px;
}

.divImg img {
    width: 50px;
    height: 50px;
}

.paraOption {
    width: 100%;
    height: 50px;
    /* border: 2px solid blue; */
    margin-left: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.titreOption {
    font-family: UbuntuBold;
    font-size: 20px;
    color: hsl(213, 96%, 18%);
    margin: 0;
}

.prixOption {
    font-family: UbuntuMedium;
    color: hsl(231, 11%, 63%);
    margin: 0;
}

.toggleOption {
    width: 100%;
    height: 17%;
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.toggle {
    width: 100%;
    height: 100%;
    background-color: hsl(217, 100%, 97%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.divMonthToggle {
    color: hsl(231, 11%, 63%);
    height: 100%;
    width: 33%;
    display: flex;
    justify-content: end;
    align-items: center;
    font-family: UbuntuMedium;
    font-size: 20px;
    transition: .1s all ease-in-out;
}

.divMonthToggleActive {
    color: hsl(213, 96%, 18%);
    height: 100%;
    width: 33%;
    display: flex;
    justify-content: end;
    align-items: center;
    font-family: UbuntuMedium;
    font-size: 20px;
    transition: .1s all ease-in-out;
}

.divToggle {
    width: 33%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bgToggle {
    width: 32%;
    height: 55%;
    border-radius: 40px;
    background-color: hsl(213, 96%, 18%);
    position: relative;
    cursor: pointer;
}

.rondToggle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    top: 3px;
    left: 5px;
    transform: translateX(0px);
    transition: .3s all ease-in-out;
}
.rondToggleActive {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    top: 3px;
    left: 5px;
    transform: translateX(23px);
    transition: .3s all ease-in-out;
}

.divYearToggle {
    font-family: UbuntuMedium;
    font-size: 20px;
    color: hsl(231, 11%, 63%);
    height: 100%;
    width: 33%;
    display: flex;
    justify-content: start;
    align-items: center;
    transition: .1s all ease-in-out;
}
.divYearToggleActive {
    font-family: UbuntuMedium;
    font-size: 20px;
    color: hsl(213, 96%, 18%);
    height: 100%;
    width: 33%;
    display: flex;
    justify-content: start;
    align-items: center;
    transition: .1s all ease-in-out;
}

.planBtn {
    width: 98%;
    height: 23%;
    /* border: 2px solid black; */
    display: flex;
    justify-content: space-between;
    align-items: end;
}


/* media queries */

@media screen and (min-width: 320px) and (max-width: 375px) {
    .divPlan {
        width: 95% !important;
        height: 100%;
    }
    
    .options {
        width: 100% !important;
        height: 100%;
        /* border: 2px solid green; */
        gap: 10px;
    }
    
    .option {
        width: 30%;
        height: 75%;
    }
    
    .divImg {
        width: 40px;
        height: 40px;
        /* border: 2px solid salmon; */
        margin-left: 5px;
    }
    
    .divImg img {
        width: 40px;
        height: 40px;
    }
    
    .paraOption {
        /* border: 2px solid blue; */
        margin-left: 5px;
    }
    
    .titreOption {
        font-size: 14px;
    }
    
    .prixOption {
        font-size: 12px;
    }
    
    .toggleOption {
        width: 100%;
        height: 17%;
        /* border: 2px solid red; */
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .toggle {
        width: 100%;
        height: 100%;
        background-color: hsl(217, 100%, 97%);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .divMonthToggle {
        font-size: 18px;
    }
    
    .divMonthToggleActive {
        font-size: 18px;
    }
    
    
    .bgToggle {
        width: 45%;
        height: 75% !important;
    }
    
    .rondToggle {
        width: 17px;
        height: 17px;
        top: 3px;
        left: 5px;
    }
    .rondToggleActive {
        width: 17px;
        height: 17px;
        transform: translateX(14px);
    }
    
    .divYearToggle {
        font-size: 18px;
    }
    .divYearToggleActive {
        font-size: 18px;
    }

    .planBtn {
        width: 98%;
        height: 23%;
        /* border: 2px solid black; */
        display: flex;
        justify-content: space-between;
        align-items: end;
    }

    .btnBack {
        width: 90px !important;
        height: 40px !important;
        font-size: 13px !important;
      }
    
    .btnNext {
        width: 90px !important;
        height: 40px !important;
        font-size: 13px !important;
    }  
  }
@media screen and (min-width: 375px) and (max-width: 425px) {
    .divPlan {
        width: 95% !important;
        height: 100%;
    }
    
    .options {
        width: 100% !important;
        height: 100%;
        /* border: 2px solid green; */
        gap: 10px;
    }
    
    .option {
        width: 30%;
        height: 75%;
    }
    
    .divImg {
        width: 40px;
        height: 40px;
        /* border: 2px solid salmon; */
        margin-left: 5px;
    }
    
    .divImg img {
        width: 40px;
        height: 40px;
    }
    
    .paraOption {
        /* border: 2px solid blue; */
        margin-left: 5px;
    }
    
    .titreOption {
        font-size: 14px;
    }
    
    .prixOption {
        font-size: 12px;
    }
    
    .toggleOption {
        width: 100%;
        height: 17%;
        /* border: 2px solid red; */
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .toggle {
        width: 100%;
        height: 100%;
        background-color: hsl(217, 100%, 97%);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .divMonthToggle {
        font-size: 18px;
    }
    
    .divMonthToggleActive {
        font-size: 18px;
    }
    
    
    .bgToggle {
        width: 45%;
        height: 75% !important;
    }
    
    .rondToggle {
        width: 17px;
        height: 17px;
        top: 3px;
        left: 5px;
    }
    .rondToggleActive {
        width: 17px;
        height: 17px;
        transform: translateX(14px);
    }
    
    .divYearToggle {
        font-size: 18px;
    }
    .divYearToggleActive {
        font-size: 18px;
    }

    .planBtn {
        width: 98%;
        height: 23%;
        /* border: 2px solid black; */
        display: flex;
        justify-content: space-between;
        align-items: end;
    }

    .btnBack {
        width: 90px !important;
        height: 40px !important;
        font-size: 13px !important;
      }
    
    .btnNext {
        width: 90px !important;
        height: 40px !important;
        font-size: 13px !important;
    } 
  }
@media screen and (min-width: 425px) and (max-width: 768px) {
    .divPlan {
        width: 95% !important;
        height: 100%;
    }
    
    .options {
        width: 100% !important;
        height: 100%;
        /* border: 2px solid green; */
        gap: 10px;
    }
    
    .option {
        width: 30%;
        height: 75%;
    }
    
    .divImg {
        width: 40px;
        height: 40px;
        /* border: 2px solid salmon; */
        margin-left: 5px;
    }
    
    .divImg img {
        width: 40px;
        height: 40px;
    }
    
    .paraOption {
        /* border: 2px solid blue; */
        margin-left: 5px;
    }
    
    .titreOption {
        font-size: 14px;
    }
    
    .prixOption {
        font-size: 12px;
    }
    
    .toggleOption {
        width: 100%;
        height: 17%;
        /* border: 2px solid red; */
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .toggle {
        width: 100%;
        height: 100%;
        background-color: hsl(217, 100%, 97%);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .divMonthToggle {
        font-size: 18px;
    }
    
    .divMonthToggleActive {
        font-size: 18px;
    }
    
    
    .bgToggle {
        width: 45%;
        height: 75% !important;
    }
    
    .rondToggle {
        width: 17px;
        height: 17px;
        top: 3px;
        left: 5px;
    }
    .rondToggleActive {
        width: 17px;
        height: 17px;
        transform: translateX(14px);
    }
    
    .divYearToggle {
        font-size: 18px;
    }
    .divYearToggleActive {
        font-size: 18px;
    }

    .planBtn {
        width: 98%;
        height: 23%;
        /* border: 2px solid black; */
        display: flex;
        justify-content: space-between;
        align-items: end;
    }

    .btnBack {
        width: 90px !important;
        height: 40px !important;
        font-size: 13px !important;
      }
    
    .btnNext {
        width: 90px !important;
        height: 40px !important;
        font-size: 13px !important;
    } 
  }
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .divPlan {
        width: 95% !important;
        height: 100%;
    }
    
    .options {
        width: 100% !important;
        height: 100%;
        /* border: 2px solid green; */
        gap: 20px;
    }
    
    .option {
        width: 30%;
        height: 75%;
    }
    
    .divImg {
        width: 50px;
        height: 50px;
        /* border: 2px solid salmon; */
        margin-left: 15px;
    }
    
    .divImg img {
        width: 50px;
        height: 50px;
    }
    
    .paraOption {
        /* border: 2px solid blue; */
        margin-left: 15px;
    }
    
    .titreOption {
        font-size: 23px;
    }
    
    .prixOption {
        font-size: 18px;
    }
    
    .toggleOption {
        width: 100%;
        height: 17%;
        /* border: 2px solid red; */
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .toggle {
        width: 130%;
        height: 130%;
        background-color: hsl(217, 100%, 97%);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .divMonthToggle {
        font-size: 23px;
    }
    
    .divMonthToggleActive {
        font-size: 23px;
    }
    
    
    .bgToggle {
        width: 45%;
        height: 75% !important;
    }
    
    .rondToggle {
        width: 25px;
        height: 25px;
        top: 7px;
        left: 5px;
    }
    .rondToggleActive {
        width: 25px;
        height: 25px;
        top: 7px;
        left: 5px;
        transform: translateX(60px);
    }
    
    .divYearToggle {
        font-size: 23px;
    }
    .divYearToggleActive {
        font-size: 23px;
    }

    .planBtn {
        width: 98%;
        height: 23%;
        /* border: 2px solid black; */
        display: flex;
        justify-content: space-between;
        align-items: end;
    }

    .btnBack {
        width: 120px !important;
        height: 55px !important;
        font-size: 18px !important;
      }
    
    .btnNext {
        width: 120px !important;
        height: 55px !important;
        font-size: 18px !important;
    } 
  }
@media screen and (min-width: 1024px) and (max-width: 1439px) {
    .divPlan {
        width: 90% !important;
        height: 100%;
    }
    
    .options {
        width: 100% !important;
        height: 100%;
        /* border: 2px solid green; */
        gap: 10px;
    }
    
    .option {
        width: 32%;
        height: 60%;
    }

    .optionActive {
        width: 32%;
        height: 60%;
    }
    
    .divImg {
        width: 60px;
        height: 60px;
        /* border: 2px solid salmon; */
        margin-left: 15px;
    }
    
    .divImg img {
        width: 60px;
        height: 60px;
    }
    
    .paraOption {
        /* border: 2px solid blue; */
        margin-left: 15px;
    }
    
    .titreOption {
        font-size: 23px;
    }
    
    .prixOption {
        font-size: 18px;
    }
    
    .toggleOption {
        width: 100%;
        height: 17%;
        /* border: 2px solid red; */
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .toggle {
        width: 110%;
        height: 110%;
        background-color: hsl(217, 100%, 97%);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .divMonthToggle {
        font-size: 28px;
    }
    
    .divMonthToggleActive {
        font-size: 28px;
    }
    
    
    .bgToggle {
        width: 60%;
        height: 55% !important;
    }
    
    .rondToggle {
        width: 30px;
        height: 30px;
        top: 9px;
        left: 5px;
    }
    .rondToggleActive {
        width: 30px;
        height: 30px;
        top: 9px;
        left: 5px;
        transform: translateX(55px);
    }
    
    .divYearToggle {
        font-size: 28px;
    }
    .divYearToggleActive {
        font-size: 28px;
    }

    .planBtn {
        width: 98%;
        height: 23%;
        /* border: 2px solid black; */
        display: flex;
        justify-content: space-between;
        align-items: end;
    }

    .btnBack {
        width: 140px !important;
        height: 60px !important;
        font-size: 23px !important;
      }
    
    .btnNext {
        width: 140px !important;
        height: 60px !important;
        font-size: 23px !important;
    }   
  }