#root {
  width: 98vw;
  height: 97vh;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.divPrincipale {
  background-color: white;
  width: 60%;
  height: 75%;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.divStep {
  height: 92%;
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  border: 2px solid black;
}

.sideBar {
  height: 100%;
  width: 100%;
  background-image: url("../src/assets/img/bg-sidebar-desktop.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 20px;
}

